* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*variaveis*/
:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background-color: var(--body-bg-color);
  height: 100vh;
  font-family: Merriweather Sans;
  font-optical-sizing: auto;
}
/* todo texto*/
.conteiner {
  width: 100%;
  max-width: 570;
  color: var(--text-color);
}
#left {
  display: inline;
  width: 300px;
  background-color: bisque;
  border: solid 1px red;
}
#right {
  display: inline;
} que negocios vermelhos e verdes s
/* profile*/
#profile{
  background-color: var(--bg-cards);
  border-radius: 15px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 348px;
  height: 292px;
}
/*image*/
.main-image {
  margin: auto;
  border: solid 1px blue;
  border-radius: 50%;
  width: 40%;
}
/* profile text*/
#profile {
  border: solid 1px blue;
}
#profile h1 {
  text-align: center;
  font-weight: 700;
}
#profile p {
  text-align: center;
  font-weight: 500;
}
/* links */
#links {
  border: solid 1px green;
  width: 70%;
}
#links ul {
  margin-top: 25px;
  background-color: var(--bg-cards);
  border-radius: 15px;
  margin-left: 0;
  width: 348px;
  height: 348px;
}
#links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  list-style: none;
}
#links ul li {
  display: flex;
  padding: 10px 40px;
}
/*corrija a cor depois*/

/* correçao do tec*/
#tec {
  border: solid 1px yellow;
}
#tec p {
  border: solid 1 px red;
  display: flex;
  gap: 12px 10px;
  flex-direction: row;
}
#my-project {
  border: solid 1px pink;
  text-align: right;
  margin-top: 0px;
}
